@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap");
@import url("./main.css");

.container {
  min-height: 8vh;
  width: 100vw;
  overflow-x: hidden;
  margin: auto;
}

.nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 1rem;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 3px 5px -3px var(--primary-color-hover);
}

.nav_left {
  font-weight: 900;
}
.nav_left a {
  font-size: 2.5rem;
  font-family: "Nunito Sans", sans-serif;
}
.nav_right li a {
  font-size: 1.5rem;
  padding: 1rem;
  display: inline-flex;
  font-family: "Nunito Sans", sans-serif;
}
.nav_right a:hover {
  color: var(--primary-color-hover);
}
.nav_right {
  display: flex;
}
.nav_docs {
  align-self: center;
}
.git-icon {
  width: 40px;
}
/* media queries */
@media (max-width: 480px) {
  .nav_bar {
    all: unset;
    width: 100vw;
    height: 10vh;
    display: inline-flex;
    box-shadow: 0 3px 5px -3px var(--primary-color-hover);
  }
  .container {
    width: 100vw;
  }

  .nav_right .nav_docs {
    display: none;
  }
}

/* @media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  nav {
    padding: 2.5rem 1rem;
  }

  .nav_left {
    font-size: 1.1rem;
  }

  .nav_right li {
    margin: 0 1rem;
  }

  .nav_right li a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  nav {
    padding: 1.6rem;
  }
} */
