.sidebar_components {
  margin: 2rem 0;
  max-height: 100vh;
  overflow: auto;
  grid-area: "aside";
  position: sticky;
  left: 0;
  top: 0;
  border-right: 1px solid var(--light-grey);
}
.sidebar {
  display: flex;
  flex-direction: column;
}

.list_heading a {
  font-size: 1.6rem;
  font-weight: 300;
  display: block;
  padding: 1rem;
}
.components li {
  border: none;
}
.components li > a {
  display: block;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: (--font-bold);
  border-radius: 0.3rem;
  margin-right: 0.4rem;
}
.components li :hover {
  background-color: var(--light-grey);
}
