.box-shadow {
  box-shadow: var(--default-box-shadow);
}

.cursor-pointer {
  cursor: pointer;
}

/*********** Typography ********************/

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.big-text {
  font-size: 1.125rem;
}

.text-primary-color {
  color: var(--primary-color);
}

.text-disabled {
  color: var(--dark-grey);
}

.text-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalise {
  text-transform: capitalize;
}

.text-cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-no-underline {
  text-decoration: none;
}

.link-no-style {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
/** margin utilities **/
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mtb-1 {
  margin: 1rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}
/********** lists **********/
.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/** button reset **/
.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

/********* high-light**********/
.highlight-txt {
  color: var(--primary-color);
  font-weight: 500;
}
/********* layout ************/
.grid-30-70-layout {
  display: grid;
  grid-template-columns: 200px 90%;
  grid-template-areas:
    "aside  main"
    "aside  main";
  grid-column-gap: 1rem;
  margin: 0 1rem;
}

@media only screen and (max-width: 650px) {
  .grid-30-70-layout {
    grid-template-columns: 100%;
    grid-template-areas:
      "main main"
      "main main";
  }

  .sidebar_components {
    display: none;
  }
  .component-content {
    width: 100%;
  }
  .nav_right .nav_doc {
    display: none;
  }
  .nav_left {
    margin: auto;
  }
}
/******** code snippet ********/
.code-snippet-display {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 350px;
  padding: 1rem 0;
  margin: 2rem 2rem 2rem 0;
  overflow: auto;
}
.code-snippet-display iframe {
  width: 100%;
  background-color: var(--light-gray);
  /* border: 1px solid var(--primary-color); */
}
.code-snippet-display ::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/********** active sidebar *************/
.active a {
  background-color: var(--primary-color);
  color: var(--white);
}
.active a:hover {
  background-color: var(--primary-color) !important;
}

/*************** scroll bar ************/
::-webkit-scrollbar {
  width: 0.4rem;
  background-color: var(--silder-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

/********flex ***********/
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.page-nav {
  border-top: 1px solid var(--grey);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.prev-page,
.next-page {
  padding: 0.4rem 0.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.4rem 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
