.box-shadow {
  box-shadow: var(--default-box-shadow);
}

.cursor-pointer {
  cursor: pointer;
}

/*********** Typography ********************/

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  line-height: 1.125rem;
}

.big-text {
  font-size: 1.125rem;
}

.text-primary-color {
  color: var(--primary-color);
}

.text-disabled {
  color: var(--dark-grey);
}

.text-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalise {
  text-transform: capitalize;
}

.text-cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-no-underline {
  text-decoration: none;
}

.link-no-style {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
/********** lists **********/
.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/********* layout ************/
.grid-30-70-layout {
  display: grid;
  grid-template-columns: 30% 70%;
}

/******** code snippet ********/
.code-snippet-display {
  box-sizing: border-box;
  width: 100%;
  max-height: 300px;
  padding: 1rem 0;
  margin: 2rem 0;
  overflow: auto;
  border-radius: 0.3rem;
}
.code-snippet-display iframe {
  width: 100%;
  border: none;
}

/*************** scroll bar ************/
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
