:root {
  --default-font-size: 87.5%; /* 14px */
  --primary-color: #6366f1;
  /* --primary-bg: #ca965c1a; */
  --primary-color-hover: #8789f3;
  /* --secondary-color: #876445;
  --secondary-bg: #8764451a; */
  --background-color: #fff;
  /* --card-background: #f4dfba; */
  /* --info-color: #5dc4eb;
  --info-bg: #5dc4eb1a; */
  --warning-color: #ffc95c;
  --warning-bg: #ffc95c1a;
  --danger-color: #fa7178;
  --danger-bg: #fa71781a;
  --success-color: #03c99b;
  --success-bg: #03c99b1a;
  --text-color: #ffffff;
  --dark-grey: #646464;
  --grey: #969696;
  --grey-highlight: #96969633;
  --light-grey: #f0f0f0;
  --default-box-shadow: 0px 0px 6px -2px grey;
  --padding: 0.25rem;
  --margin: 0.25rem;
  --font-light: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --button-border: 0.25rem;
  --white: #ffffff;
  --black: #000000;
}
