@import url("/CSS/main.css");
/* * {
  outline: 1px solid red;
} */
.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 2rem 0;

  align-items: baseline;
  border-radius: 0.3rem;
  width: 100%;
}
.responsive-img {
  width: 100%;
  height: auto;
}
.center-image {
  justify-content: center;
  align-items: center;
  /* background-color: var(--light-grey); */
}
.img-round {
  width: 15rem;
  height: 15rem;
  font-size: 3rem;
  border-radius: 50%;
}
