@import url("./CSS/main.css");

.grid-50-50-layout {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "content  image-container";
}
.ui-discription {
  width: 90%;
  margin: 2rem auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image-container {
  width: 100%;
  margin: auto;
  grid-area: "image-container";
}
.image-container img {
  max-width: 100%;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.content {
  font-size: 1.3rem;
  margin: auto;
  grid-area: "content";
}
.content h3 {
  font-family: "Nunito Sans", sans-serif;
}

.content p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
}
.home-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0.3rem;
  padding: 0.4rem;
}
.btn_doc,
.btn_install {
  border: none;

  border-radius: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem;
  font-size: 1.3rem;
}
.btn_install {
  padding: 0.5rem;
  margin: 0.3rem;
  border: 2px solid var(--primary-color);
  background-color: var(--white);
  color: var(--primary-color);
}
.btn_install:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
.btn_doc {
  margin: 0.3rem;
  padding: 9px 5px;
}
.installation-page {
  display: flex;
  margin: 1rem;
  height: 50vh;
  /* border-top: 2px solid var(--primary-color); */
}
.installation-info {
  grid-area: "content";
  display: inline-flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}
.installation-info h4 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.2rem;
}
.installation-info p {
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.installation-code-snippet {
  grid-area: "image-container";
  width: 100%;
}
.footer {
  background-color: var(--primary-color);
  width: 100vw;
}
.footer-text {
  text-align: center;
  margin: 2rem;
  color: var(--white);
}
.footer-text p {
  margin: 0.5rem;
}

@media only screen and (max-width: 480px) {
  .grid-50-50-layout {
    grid-template-columns: 100%;
    grid-template-areas:
      "image-content"
      "left-content";
  }
  .image-container {
    grid-area: "image-content";
    width: 100%;
    order: 1;
  }
  .content {
    grid-area: "left-content";
    order: 2;
  }
  .installation-page {
    all: unset;
    margin: 1rem;
  }
  .installation-info {
    margin: 0.3rem;
  }
  .installation-code-snippet {
    margin-left: 1rem;
  }
  .nav-git {
    align-self: center;
  }
}
@media only screen and (max-width: 650px) {
  .installation-page {
    all: unset;
    margin: 1rem;
  }
  .installation-code-snippet {
    margin-left: 1rem;
  }
}
