@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/* @import url("./CSS/utility.css"); */
@import url("./CSS/navbar.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

.ui-discription {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-container {
  width: 300px;
}
.image-container img {
  max-inline-size: 100%;
  block-size: auto;
}

button {
  border: none;
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  margin: 1rem;
}
.btn_install {
  margin-right: 1rem;
  border: 2px solid #6366f1;
  background-color: transparent;
  color: #6366f1;
}
.btn_doc {
  background-color: #6366f1;
  color: #fff;
}
