@import url("./CSS/main.css");
* {
  /* outline: 1px solid red; */
}

.ui-discription {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}
.image-container {
  width: 300px;
}
.image-container img {
  max-inline-size: 100%;
  block-size: auto;
}
.content {
  font-size: 1.3rem;
  margin: auto;
  line-height: 3rem;
}
.content h4 {
  font-family: "Nunito Sans", sans-serif;
}
.content h4 span {
  color: var(--primary-color);
}
.content p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
}
button {
  border: none;
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  margin: 1rem;
  font-size: 1.3rem;
}
.btn_install {
  margin-right: 1rem;
  border: 1px solid #6366f1;
  background-color: transparent;
  color: #6366f1;
}
.btn_install:hover {
  background-color: #6366f1;
  color: #fff;
}
.btn_doc {
  background-color: #6366f1;
  color: #fff;
}

.btn_doc:hover {
  background-color: #fff;
  color: #6366f1;
  border: 1px solid #6366f1;
}
