.rating-wrapper {
  padding: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.rating-star-container {
  margin-right: 1rem;
}
.rating-start-pill {
  display: none;
}
.rating-star-icon {
  font-size: 1.2rem;
  display: inline-block;
  padding: 0.1rem;
  color: var(--grey);
}
.gold-color {
  color: var(--rating-color);
}
.rating-badge {
  border: 1px solid var(--light-grey);
  font-size: var(--default-font-size);
}
.rating-badge-number {
  padding: 0.2rem;
}
.rating-badge-solid {
  display: inline-flex;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 0.2rem;
  align-self: end;
  padding: 0.1rem 0.3rem;
}
