.toast {
  max-width: 15rem;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;
}

.toast-action-btn {
  outline: none;
  background-color: transparent;
  border: none;
  color: var(--white);
  cursor: pointer;
}
.demo-btn {
  padding: 7px;
  background-color: var(--card-icon-color);
  color: var(--white);
}
.hide-content {
  display: none;
}
.toast-sample {
  position: fixed;
  right: 10px;
  bottom: 1rem;
  width: 15rem;
  gap: 10px;
  z-index: 88;
}
