@import url("/CSS/main.css");

.alert {
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid var(--light-grey);
  margin: 0.3rem;
}
.alert .fas {
  font-size: 1.5rem;
  margin-right: 0.3rem;
}
.alert a {
  text-decoration: underline;
  color: blue;
  margin-left: 0.2rem;
}
.alert-primary {
  background-color: var(--primary-alert-bgcolor);
  color: var(--primary-alert-color);
}
.alert-error {
  background-color: var(--danger-bg);
  color: var(--danger-color);
}
.alert-warning {
  background-color: var(--warning-bg);
  color: var(--warning-icon-color);
}
.alert-info {
  background-color: var(--info-bg-color);
  color: var(--info-color);
}
.alert-success {
  background-color: var(--success-bg);
  color: var(--success-color);
}

.action-alert-success {
  background-color: var(--success-bg);
  color: var(--success-color);
  position: relative;
}

.action-alert-x {
  font-weight: 500;
  border: 1px solid transparent;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
.action-alert-x:hover {
  color: var(--danger-color);
}
.action-alert-btn {
  background-color: transparent;
  outline: none;
  border: none;
  width: fit-content;
  height: 1.5rem;
  margin: 0.85rem;
  color: inherit;
  padding: 0.4rem;
  border-radius: 0.4rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}
.action-alert-btn:hover {
  color: var(--danger-color);
}
